.toggle-mode {
    background-color: rgb(34, 33, 33);
    color: white;
}
.global-container{
    /* display: flex; */
    /* gap: 5px; */
    width: 100%;
    background-color: rgb(146, 144, 144);
    /* min-height: 550px; */
}
.music-container{
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.musicCard{
    min-height: 230px;
    width: 180px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    position: relative;
    /* padding-left: auto; */
    /* border: 1px solid black; */
    /* overflow: hidden; */

}
.musicCard:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.artist{
    font-size: 14px;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.bannerImg{
    border-radius: 10px;
    width: 100%;
}
.music-title{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.nav-items{
    margin-left: 15%;
}
.nav-item{
    list-style: none;
    margin-left: 15%;
}
.nav-item div:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
}
.search-hover:hover{
    transform: scale(1.1);
    cursor: pointer;
}
a{
    color: black;
}
.left-nav{
    margin-right: 60px;
}
.left-nav-login{
    margin-right: 60px;
}
.left-nav-notlogin{
    margin-left: -40px;
}
.fa-solid{
    font-size: 24px;
}
.icon-music{
    padding: 12px;
    font-weight: 700;
}
.register-container{
    overflow: hidden;
    background-color: rgb(146, 144, 144);
}
.register-container-toggle{
    overflow: hidden;
    background-color: rgb(34, 33, 33);
    color: white;
}
.row{
    margin-top: 20px;
    text-align: center;
}
.music-player{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #e48125;
    display: flex;
    color: white;
    align-items: center;
    gap: 15px;
    padding-left: 5%;
}
.music-player-toggle{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #363535;
    display: flex;
    color: white;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}
.music-long{
    display: none;
}
.favorite-icon{
    font-size: 25px;
}
.social-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.prev-next-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
}
@media (max-width:820px) {
    .music-player{
        height: 6rem;
        justify-content: center;
    }
    .music-sort{
        display: none;
    }
    .music-long{
        display: block;
    }
    .favorite-icon{
        margin-right: 10%;
        /* padding-right: 10%; */
    }
    .music-audio{
        padding-bottom: 3%;
    }
    .nav-items{
        margin-left: -10%;
    }
    .left-nav{
        margin-left: 50%;
    }
    .left-nav-login{
        margin-left: 45%;

    }

}
@media (max-width:550px) {
    .music-container{
        width: 100%;
        /* padding: 1%; */
        gap: 0%;
        
    }
    .musicCard{
        width: 47%;
        padding: 10px;
        /* border: 1px solid red; */
    }
    .music-audio{
        padding-right: 10%;
    }
    .left-nav{
        margin-left: 45%;
    }
    .left-nav-login{
        margin-left: 35%;
    }
}